@font-face {
	font-family: 'RobotoSlab';
	src: url('../fonts/roboto/RobotoSlab-Bold.eot');
	src: url('../fonts/roboto/RobotoSlab-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/roboto/RobotoSlab-Bold.woff2') format('woff2'),
		url('../fonts/roboto/RobotoSlab-Bold.woff') format('woff'),
		url('../fonts/roboto/RobotoSlab-Bold.ttf') format('truetype'),
		url('../fonts/roboto/RobotoSlab-Bold.svg#RobotoSlab-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/opensans/OpenSans.eot');
	src: url('../fonts/opensans/OpenSans.eot?#iefix') format('embedded-opentype'),
		url('../fonts/opensans/OpenSans.woff2') format('woff2'),
		url('../fonts/opensans/OpenSans.woff') format('woff'),
		url('../fonts/opensans/OpenSans.ttf') format('truetype'),
		url('../fonts/opensans/OpenSans.svg#OpenSans') format('svg');
	font-weight: normal;
	font-style: normal;
}

html,body{
	min-height: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}


body {
	background-color: #F0C419;
	text-align: center;
	color: white;
	font-family: "OpenSans";
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
}

h1 {
	font-size: 3.5em;
	font-weight: 400;
	font-family: "RobotoSlab";
}

.content {
	font-size: 2em;
}

.title {
	font-size: 2em;
	font-weight: 400;
	font-family: "RobotoSlab";
	text-transform: uppercase;
	margin: 15px 0 15px 0;
}

.show_config {
	position: absolute;
	width: 4em;
	bottom: 20px;
	right: 20px;
	cursor: pointer;
}

.close_config {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 20px;
	cursor: pointer;
}

.config_window {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top:  -150px;
	margin-left: -300px;
	width: 600px;
	height: 300px;
	border: 5px solid white;
	z-index: 1;
	background-color: #955BA5;
}

.send_config {
	display: inline-block;
	padding: 10px;
	border: 2px solid white;
	background-color: #F15A5A;
	color: white;
	margin-top: 40px;
	cursor: pointer;
}